<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XtraScheduler_linq.Properties.Settings.XtraCarsConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=XtraCars;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>